@using DinhVanHoangDuy_2180609183_Web.Areas.Admin.Models
@using DinhVanHoangDuy_2180609183_Web.Models
@model IEnumerable<DinhVanHoangDuy_2180609183_Web.Areas.Admin.Models.EditRolesViewModel>

<h2>Danh sách người dùng</h2>


<table class="table table-bordered table-hover align-middle">
    <tr style ="width: 200px">

        <th scope="col">Người dùng</th>
        <th scope="col">Vai trò</th>
        <th scope="col">Hành động</th>
    </tr>
    @foreach (var user in Model)
    {
        
        <tr style="width: 200px">
            <td>@user.UserName</td>
            <td>
                @foreach (var role in user.Roles)
                {
                    <span class="badge bg-primary me-1">@role.RoleName</span>
                }
            </td>
            <td>
                <a asp-area="Admin" asp-controller="User" asp-action="Edit" asp-route-userId="@user.Id" class="btn btn-warning">Chỉnh sửa quyền</a>
                <a asp-area="Admin" asp-controller="User" asp-action="Edit" asp-route-userId="@user.Id" class="btn btn-danger">Xóa</a>
                
            </td>
        </tr>
    }
</table>
