@using DinhVanHoangDuy_2180609183_Web.Areas.Admin.Models
@model EditRolesViewModel

<h2>Chỉnh sửa quyền cho: @Model.UserName</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="UserId" />

    <div class="form-group">
        @foreach (var role in Model.Roles)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       asp-for="@role.IsSelected"
                       name="Roles[@Model.Roles.IndexOf(role)].IsSelected" />
                <input type="hidden" name="Roles[@Model.Roles.IndexOf(role)].RoleName" value="@role.RoleName" />
                <label class="form-check-label">@role.RoleName</label>
            </div>
        }
    </div>

    <button type="submit" class="btn btn-primary mt-3">Lưu thay đổi</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Quay lại</a>
</form>