@using DinhVanHoangDuy_2180609183_Web.Areas.Admin.Models
@using DinhVanHoangDuy_2180609183_Web.Models
@model IEnumerable<EditRolesViewModel>

<h2>Danh sách người dùng</h2>


<table class="table table-bordered table-hover align-middle">
    <tr>

        <th scope="col">Người dùng</th>
        <th scope="col">Vai trò</th>
        <th scope="col">Hành động</th>
    </tr>
    @foreach (var user in Model)
    {
        
        <tr style="width: 200px">
            <td>@user.UserName</td>
            <td>
                @foreach (var role in user.Roles)
                {
                    <span class="badge bg-primary me-1">@role.RoleName</span>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-userId="@user.UserId" class="btn btn-warning btn-sm">Chỉnh sửa quyền</a>
                <form asp-action="Delete" asp-route-userId="@user.UserId" method="post" style="display:inline">
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Bạn muốn xóa người dùng này?')">Xóa</button>
                </form>
            </td>
        </tr>
    }
</table>
